<div class= "bg-white border-black border-solid border ml-5 mr-5 mt-10 mb-10 h-5/6">
  <ion-grid>
    <ion-row class="content-center items-center justify-center mb-7 mt-10" >
      <div class="text-7xl text-black text-center font-serif">My Journey</div>
    </ion-row>

    <ion-row class="content-center items-center justify-center mb-2" >
      <div class="text-4xl text-black text-center font-serif">Dec 2021 - Present</div>
    </ion-row>

    <ion-row class="content-center items-center justify-center mb-2" >
      <div class="text-4xl text-black text-center font-serif">Software Developer @ University of Auckland</div>
    </ion-row>

    <br>

    <ion-row class="content-center items-center justify-center mb-2" >
      <div class="text-4xl text-black text-center font-serif">May 2021 - Dec 2021</div>
    </ion-row>

    <ion-row class="content-center items-center justify-center mb-2" >
      <div class="text-4xl text-black text-center font-serif">IT Support Analyst @ Gleeson & Cox Transport</div>
    </ion-row>

  </ion-grid>
</div>