<div class= "bg-white border-black border-solid border ml-5 mr-5 mt-10 mb-10" style="min-height: 83.333333%;">
  <ion-grid>
    <ion-row class="content-center items-center justify-center mb-7 mt-10" >
      <div class="text-7xl text-black text-center font-serif">Welcome,</div>
    </ion-row>
    <ion-row class="content-center items-center justify-center mb-2" >
      <div class="text-4xl text-black text-center font-serif">I am a full stack developer</div>
    </ion-row>
    <ion-row class="content-center items-center justify-center" >
      <div class="text-4xl text-black text-center font-serif">based in AKL, NZ</div>
    </ion-row>
    <br>
    <ion-row class="content-center items-center justify-center mb-2" >
      <div class="text-4xl text-black text-center font-serif pr-2 pl-2"><a href="../../../../assets/files/michael_kang_cv.pdf"><u>My Résumé</u></a></div>
    </ion-row>
  </ion-grid>
</div>

