<div class= "bg-white border-black border-solid border ml-5 mr-5 mt-10 mb-10" style="min-height: 83.333333%;">


  <ion-grid>
    <ion-row class="content-center items-center justify-center mb-7 mt-10" >
      <div class="text-7xl text-black text-center font-serif">What I use</div>
    </ion-row>

    <ion-row>
      <app-tech-display></app-tech-display>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="text-4xl text-black text-right font-serif">Python</div>
      </ion-col>

      <ion-col>
        <div class="text-4xl text-black text-center font-serif">TypeScript</div>
      </ion-col>
      
      <ion-col>
        <div class="text-4xl text-black text-left font-serif">HTML/CSS</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="text-4xl text-black text-right font-serif">Angular</div>
      </ion-col>

      <ion-col>
        <div class="text-4xl text-black text-center font-serif">Ionic</div>
      </ion-col>
      
      <ion-col>
        <div class="text-4xl text-black text-left font-serif">Node.js</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="text-4xl text-black text-right font-serif">AWS</div>
      </ion-col>

      <ion-col>
        <div class="text-4xl text-black text-center font-serif">Linux</div>
      </ion-col>
      
      <ion-col>
        <div class="text-4xl text-black text-left font-serif">Jenkins</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="text-4xl text-black text-right font-serif">Git</div>
      </ion-col>

      <ion-col>
        <div class="text-4xl text-black text-center font-serif">Jira</div>
      </ion-col>
      
      <ion-col>
        <div class="text-4xl text-black text-left font-serif">Bash</div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div>